<!-- Page Content -->
<div class="container">

  <h1 class="my-4 text-center text-lg-left">All Helicopters</h1>

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="helicopter in helicopter.helicopters">
      <h3>{{ helicopter.name }}</h3>
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      <!--{{ helicopter.power }}, {{ helicopter.speed }}-->
      <div class="text-center">
        <a href="/{{ helicopter._id }}">
          <button type="button" ng-click="helicopter.getHelicopter(helicopter._id)" class="btn btn-primary">View</button>
        </a href="">
        <a href="/rent">
          <button type="button" class="btn btn-info">Rent</button>
        </a>
        <button type="button" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</div> <!-- /.container -->
