<div class="container" >
  <h1 class="my-4 text-center text-lg-left">{{ vm.helicopter.name | uppercase }}</h1>
  <div class="my-4 row">
    <div class="col-6">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </div>
    <div class="col-6">
      <p><strong>Power:</strong> {{ vm.helicopter.power }}</p>
      <p><strong>Speed:</strong> {{ vm.helicopter.speed }}</p>
      <p><strong>Passengers:</strong> {{ vm.helicopter.passengers }}</p>
      <br>
      <a href="/rent" ng-show="helicopter.isAvailable">
        <button type="button" class="btn btn-info">Rent</button>
      </a>
      <a href="/cancel" ng-show="!helicopter.isAvailable">
        <button type="button" class="btn btn-danger">Cancel</button>
      </a>
    </div>
  </div>  
</div>

